.footer-wrap.bg-green.c-f
   .container
      .row
         .col-md-5
            span.fs-2.pr50 关于我们
            a.pr20(href="##") 公司简介
            a(href="##") 成功案例
         .col-md-7.text-right
            span.pr20 © 2016 by 广州微林园林绿化工程有限公司 All Rights Reserved
            span 粤ICP备15073300号