meta(name="keyword",content="广州微林园林绿化工程有限公司")
meta(name="keyword",content="落叶虽微，亦可育林")
meta(name="description",content="微林绿化经营：/庭院绿化/园艺工程/开业花篮/花车/花束花木销售/植物租赁/绿化养护/办公室清理")
meta(name="description",content="广州本土")
link(href="/libs/bootstrap/dist/css/bootstrap.me.css", rel="stylesheet")
link(href="/css/base.css", rel="stylesheet")
link(href="/css/layout.css", rel="stylesheet")
link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" media="screen")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/header.js")
