link(href="/libs/bootstrap/less/bootstrap.me.css", rel="stylesheet")
//link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/base.css", rel="stylesheet")
link(href="/css/layout.css", rel="stylesheet")
link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" media="screen")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/header.js")