
/*margin*/
.ml30{margin-left: 30px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt40{margin-top: 40px;}
.mt100{margin-top: 100px;}
.mt160{margin-top: 160px;}
.mb20{margin-bottom: 20px;}

/*padding*/
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pt60{padding-top: 60px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb100{padding-bottom: 100px;}
.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr50{padding-right: 50px;}
.pr70{padding-right: 70px;}
.pr100{padding-right: 100px;}
.pl15{padding-left: 15px;}
.pl25{padding-left: 25px;}
.pl50{padding-left: 50px;}
.pl70{padding-left: 70px;}
.pl100{padding-left: 100px;}

/*font-size*/
.fs-2{font-size: 2rem;}
.fs-3{font-size: 3rem;}
.fs-4{font-size: 4rem;}
.fs-5{font-size: 5rem;}
.fs-10{font-size: 10rem;}
.fs14{font-size: 14px;}
.fs18{font-size: 18px;}

/*display*/
.d-b{display: block;}
.d-ib{display: inline-block;}

/*position*/
.p-a{position: absolute;}
.p-r{position: relative;}
.p-f{position: fixed;}

/*background-color*/
.bg-f{background: #fff;}
.bg-green{background: #649332;}

/*color*/
.c-f{color: #fff;}
.c-green{color: #95c72a;}
.c-red{color: #ff3600;}
.c-9{color: #999;}

/*.col-md*/
.col-md-1{width: 98px !important; float: left;}
.col-md-2{width: 195px !important; float: left;}
.col-md-3{width: 292px !important; float: left;}
.col-md-4{width: 390px !important; float: left;}
.col-md-5{width: 486px !important; float: left;}
.col-md-6{width: 585px !important; float: left;}
.col-md-7{width: 684px !important; float: left;}
.col-md-8{width: 780px !important; float: left;}
.col-md-9{width: 878px !important; float: left;}
.col-md-10{width: 975px !important; float: left;}
.col-md-11{width: 1072px !important; float: left;}

/*wrap*/
.wrap{width: 1170px;}

/*table*/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{vertical-align: middle;}