
/*header*/
.header-wrap{min-width: 1170px;height: 110px;background: url("../images/header_bottom.png") center bottom repeat-x;}
.header-wrap .container .pb15.pt15{width: 1170px;}
.header-wrap .logo,.header-wrap .header-wrap form.mb20{width: 262px;padding: 0 15px;}
.header-wrap .logo a{width: 176px;height: 76px;background: url("../images/logo.png") center top no-repeat;}
.header-wrap ul.nav.nav-pills.header-nav{width: 556px;padding: 0 15px;}
.header-wrap ul.nav.nav-pills li a{margin-bottom: 25px;}
.input-group.pull-right.header-search{width: 262px;}
.input-group.pull-right.header-search:after{clear: right;}
.mb20 .form-control{width: 213px;height: 38px;border: 2px solid #95c72a;border-radius: 20px;}
.mb20 .btn{height: 38px;border: 2px solid #95c72a;border-radius: 20px;background:#95c72a;top: 0;color: #fff;}
.navbar.navbar-default.navbar-fixed-bottom.bg-green a{color:#fff;}
.navbar.navbar-default.navbar-fixed-bottom.bg-green.c-f{min-width: 1170px;height: 53px;}
.navbar.navbar-default.navbar-fixed-bottom.bg-green .navbar-header{line-height: 50px;}
.navbar.navbar-default.navbar-fixed-bottom.bg-green .navbar-text{width: 72px;float: left;}

/*footer*/
.footer-wrap{height: 50px;line-height: 50px;min-width: 1170px;}
.footer-wrap a{color: #fff;}

/*index*/
.banner a.carousel-control{z-index: 100;}
.banner a.carousel-control span{position: absolute;top:50%;margin: -50px 0 0 -50px;}
#anmi-canvas{top: 0;position: absolute;}
.info-title{width: 230px;height: 116px;border: 1px solid #95c72a;margin: 0 auto;color: #666;}
.title-content{width: 250px;height: 64px;top:5px;left:-10px; background:url("../images/title-content_bg.png") center top no-repeat;}
.title-content h1{font-size: 30px;padding-top: 5px;margin-bottom: 0;}
.title-content span{font-family: arial, sans-serif;}
/*.index .about-us{width: 1170px;}*/
.about-us .row .col-md-4{color: #95c72a;font-weight: normal;font-family: arial, sans-serif;}
.best-pro .carousel-indicators{bottom: -60px;}
.best-pro .carousel-indicators li{border: 1px solid #666;}
.best-pro .carousel-indicators li.active{background: #666;}
.news{min-width: 1170px;height: 700px;background: url("../images/index-news_bg.png") center top no-repeat;}
.news .info-title{border-color:#fff;color: #fff; }
.news .title-content{background: url("../images/title-content_green-bg.png") center top no-repeat;}
.news a.news-content{color: #fff;border-bottom: 1px dashed #fff;}
.news a.news-content h4{margin-bottom: 0;}
.index .contact{min-width: 1170px;}
.pro-show{width: 100%;padding:0;margin: 0 auto;box-sizing:border-box; transform-style: preserve-3d;transition:transform 0.5s ease-in-out,left 0.5s ease-in-out,top 0.5s ease-in-out;}
.pro-show.is-inverse{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);}
.pro-show img{backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;width: 260px;height: 260px;}
/*.pro-show.is-inverse img{opacity: 0;}*/
.pro-show .pro-back{width: 100%;height: 100%;color: #fff;padding: 30px 10px;top: 0;left: 0;box-sizing:border-box;transform:rotateY(180deg)translateZ(1px);backface-visibility:hidden;background: url("../images/pro-back_bg.jpg") center repeat;}
.pro-show .pro-back h4{padding: 20px 0 0 50px;font-size: 22px;}
.pro-show .pro-back h4.text-center{width: 150px;margin: 30px auto;padding: 10px 0;border: 1px solid #fff;border-radius: 5px;}
.pro-show .pro-back h4.text-center:hover{background: #95c72a;}
.contact-content{border: 1px solid #95c72a;width: 254px;height: 150px;margin: 0 auto;}
.contact-content p{line-height: 190%;width: 180px;margin: 0 auto;top: -5px;}
.contact-content p .glyphicon{border: 2px solid #333;border-radius: 100%;padding: 2px;}
.contact .col-md-6.pl70.text-left{border-left: 1px solid #95c72a;}
.contact .col-md-6.pl70.text-left h3{margin-top: 10px;}

/*list*/
.panel-default .panel-heading{background: #93C361;}
.panel-default .panel-heading a{color:#fff;}
.panel-default .panel-heading h3{margin: 0;line-height: 35px;}
.pro-list .list-nav{height: 44px;line-height: 44px;background: #95c72a;}
.pro-list .list-nav.nav-pills li {padding: 0;margin: 0;cursor: pointer;}
.pro-list .list-nav.nav-pills .col-md-2{width: 190px !important;}
.pro-list .list-nav.nav-pills li.active,.pro-list .list-nav.nav-pills li:hover{background: #aee542;}
.pro-list .list-content{height: 638px;overflow: hidden;}

/*detail*/
.poster-main{ position:relative;width:1170px;height:653px;}
.poster-main img{display:block;}
.poster-main .poster-list{width:980px;height:100%;list-style: none;}
.poster-main .poster-list .poster-item{ position:absolute;left:0;top:0;overflow: hidden;}
.poster-main .poster-btn{color: #95c72a;font-size: 40px; position:absolute;top:0;line-height:653px; z-index:10; cursor:pointer;  opacity:0.8}
.poster-btn:hover{color: #649332;}
.poster-main .poster-prev-btn{left:-50px;}
.poster-main .poster-next-btn{right:-50px;text-align: right;}
.detail .detail-text{border-top: 1px solid #649332;overflow: hidden;}
.detail-text .col-md-4.b-r{border-right:1px solid #649332;}
.detail-text .row.b-b{border-bottom:5px solid #649332;}
/*.detail-text .row{padding-left: 0;padding-right: 0;}*/
.detail-text dl.dl-horizontal dt.c-green{font-weight: normal;}
.detail-text dl.dl-horizontal .text-left{text-align: left;}
.detail-text dl.dl-horizontal .text-right{text-align: right;}
.detail-text .dl-horizontal .glyphicon{top: 3px;padding-right: 10px;color: #95c72a;}
.detail-text-img{display: block;width: 1050px;margin: 0 auto;}


/*about-us*/
.about .weixin-code{width: 220px;border-left: 1px solid #649332;}