//
   Created by Kenvi on 2016/4/2.

extends ../layout
block content
   .container.mt40
      .row
         form.form-horizontal(method="post", action="/admin/catetory")
            .form-group
               label.col-sm-2.control-label(for="inputCatetory") 产品分类
               .col-sm-10
                  input#inputTitle.form-control(type="text",name="catetory[name]",value=catetory.name)
            .form-group
               .col-sm-offset-2.col-sm-10
               button.btn.btn-default(type="submit")  录入